@import "../../styles/theme.less";
@manage-predix: ct-manage;
@staff-prefix: ct-manage-staff;

.@{manage-predix} {
  display: flex;
  flex-direction: column;
  align-items: center;
  &-history {
    &-item {
      padding: 35px;
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      &-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
      &-name {
        font-size: 32px;
        color: #333333;
      }
      &-time {
        font-size: 28px;
        color: #999999;
      }
      &-qrcode {
        font-size: 28px;
        color: #333333;
      }
      &-number {
        font-size: 26px;
        color: #E96339;
      }
      &-border {
        border-bottom: 1px solid @border-color;
      }
    }
  }
}

.@{staff-prefix} {
  background-color: #F6F6F6;
  height: 100%;
  &-avator {
    width: 137px;
    height: 120px;
  }

  &-font {
    font-size: 28px;
    color: #333333;
    &-edit {
      color: #2EAAF8;
    }
  }
  &-name {
    font-size: 38px;
    font-weight: bold;
  }
  &-add {
    margin: 50px 0;
  }  
  &-item {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-bottom: 18px;
    &-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 45px 35px;
      &-detail {
        display: flex;
        flex-direction: column;
      }
    }
    &-button {
      padding: 40px 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex: 1;
      &-img {
        width: 25px;
        height: 25px;
        margin-right: 10px;
      }
    }
  }
}