.ct-manage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ct-manage-history-item {
  padding: 35px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
.ct-manage-history-item-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.ct-manage-history-item-name {
  font-size: 32px;
  color: #333333;
}
.ct-manage-history-item-time {
  font-size: 28px;
  color: #999999;
}
.ct-manage-history-item-qrcode {
  font-size: 28px;
  color: #333333;
}
.ct-manage-history-item-number {
  font-size: 26px;
  color: #E96339;
}
.ct-manage-history-item-border {
  border-bottom: 1px solid #eeeeee;
}
.ct-manage-staff {
  background-color: #F6F6F6;
  height: 100%;
}
.ct-manage-staff-avator {
  width: 137px;
  height: 120px;
}
.ct-manage-staff-font {
  font-size: 28px;
  color: #333333;
}
.ct-manage-staff-font-edit {
  color: #2EAAF8;
}
.ct-manage-staff-name {
  font-size: 38px;
  font-weight: bold;
}
.ct-manage-staff-add {
  margin: 50px 0;
}
.ct-manage-staff-item {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 18px;
}
.ct-manage-staff-item-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 45px 35px;
}
.ct-manage-staff-item-content-detail {
  display: flex;
  flex-direction: column;
}
.ct-manage-staff-item-button {
  padding: 40px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.ct-manage-staff-item-button-img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
