@import "../../styles/theme.less";
@trade-predix: ct-trade;

.@{trade-predix} {
  &-font {
    font-size: 26px;
    color: #999999;
    &-black {
      color: #333333;
    }
  }
  &-title {
    font-size: 32px;
    color: #999999;
    &-number {
      color: #333333;
    }
  }
  &-time {
    font-size: 28px;
    color: #333333;
  }
  &-number {
    font-size: 80px;
    color: #2EAAF8;
  }
  position: relative;
  &-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 15px 34px;
    border-bottom: 8px solid #f8f8f8;
    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 60px 0;
      &-margin {
        margin-top: 30px;
      }
    }
    &-item {
      display: flex;
      width: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 15px 0;
      &-detail {
        display: flex;
        flex-direction: row;
        align-items: center;
        &-price {
          width: 200px;
          text-align: right;
        }
        &-number {
          margin-right: 20px;
        }
      }
    }
    &-border {
      padding-bottom: 30px;
      margin-bottom: 30px;
      border-bottom: 1px solid @border-color;
    }
  }

  &-statistic {
    background-color: #f6f6f6;
    height: 100%;
    &-box {
      background-color: #ffffff;
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    &-buttons {
      padding: 32px 0;
    }
    &-date {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 68px;
      &-center {
        height: 70px;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &-time {
        border: 1px solid @border-color;
        border-radius: 10px 0 0 10px;
        border-right: 0px;
      }
      &-icon {
        border: 1px solid @border-color;
        border-radius: 0 10px 10px 0;
        &-img {
          width: 37px;
          height: 37px;;
        }
      }
    }
  }
  &-calendar {
    width: 100%;
    padding: 35px;
  }
  &-container {
    background-color: #f6f6f6;
    height: 100%;
  }
}