.ct-trade {
  position: relative;
}
.ct-trade-font {
  font-size: 26px;
  color: #999999;
}
.ct-trade-font-black {
  color: #333333;
}
.ct-trade-title {
  font-size: 32px;
  color: #999999;
}
.ct-trade-title-number {
  color: #333333;
}
.ct-trade-time {
  font-size: 28px;
  color: #333333;
}
.ct-trade-number {
  font-size: 80px;
  color: #2EAAF8;
}
.ct-trade-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  padding: 15px 34px;
  border-bottom: 8px solid #f8f8f8;
}
.ct-trade-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
}
.ct-trade-card-content-margin {
  margin-top: 30px;
}
.ct-trade-card-item {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}
.ct-trade-card-item-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ct-trade-card-item-detail-price {
  width: 200px;
  text-align: right;
}
.ct-trade-card-item-detail-number {
  margin-right: 20px;
}
.ct-trade-card-border {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #eeeeee;
}
.ct-trade-statistic {
  background-color: #f6f6f6;
  height: 100%;
}
.ct-trade-statistic-box {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.ct-trade-statistic-buttons {
  padding: 32px 0;
}
.ct-trade-statistic-date {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 68px;
}
.ct-trade-statistic-date-center {
  height: 70px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ct-trade-statistic-date-time {
  border: 1px solid #eeeeee;
  border-radius: 10px 0 0 10px;
  border-right: 0px;
}
.ct-trade-statistic-date-icon {
  border: 1px solid #eeeeee;
  border-radius: 0 10px 10px 0;
}
.ct-trade-statistic-date-icon-img {
  width: 37px;
  height: 37px;
}
.ct-trade-calendar {
  width: 100%;
  padding: 35px;
}
.ct-trade-container {
  background-color: #f6f6f6;
  height: 100%;
}
