.ct-product {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.ct-product-input {
  font-size: 30px;
  color: #999999;
}
.ct-product-input-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.ct-product-input-box-qrcode {
  width: 70px !important;
  height: 70px !important;
  margin-right: 10px;
}
.ct-product-menu-container {
  width: 200px;
  background-color: #F6F6F6;
}
.ct-product-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 27px 0;
  border-bottom: 1px solid #eeeeee;
}
.ct-product-search-input {
  width: 600px;
  height: 70px;
  border-radius: 35px;
  background-color: #F6F6F6;
  display: flex;
  align-items: center;
  padding: 0 40px;
}
.ct-product-search-scan {
  width: 55px;
  height: 55px;
  margin-left: 30px;
}
.ct-product-list {
  display: flex;
  flex-direction: row;
}
.ct-product-list-container {
  flex-grow: 1;
  flex: 1;
}
.ct-product-button {
  margin-top: 50px;
}
.ct-product-button-cancel {
  margin-top: 20px;
}
