@import './styles/reset.less';

.content-inner__text {
  color: #acacac !important;
  font-size: 28px !important;
}

.ct-button-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ct-button {
  background-color: #2EAAF8 !important;
  width: 560px !important;
  border: 0px !important;
  &-white {
    background-color: white !important;
  }
}

.ct-input-container {
  width: 100%;
  background-color: white;
}

.at-input__title {
  font-size: 30px;
  color: #999999;
}

.item-thumb__info {
  width: 31px !important;
  height: 31px !important;
}

.at-input__input {
  text-align: right;
}
